*
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 10px;
}

header
{
    display: flex;
    align-items: center;
}

.logo__bastet
{
    width: 100px;
}

.titulo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resena
{
    flex-wrap: wrap;
    display: flex;
    margin: 1rem;
    background-color: aliceblue;
    border: 5px solid antiquewhite;
}

.resena__titulo
{
    font-style:oblique;
    font-size: 1.8rem;
}


.resena__contenido
{
    margin: 10px;
    font-style: italic;
    font-size: 1.1rem;
    text-align: justify;
}

.ubicacion
{
    width: 100%;
    flex-direction: column;
}

.secciones h5
{
    display: flex;
    font-size: 1rem;
    /* margin: 1.2rem; */
    flex-direction: column;
    width: 100%;
}

.secciones1 h5
{
    display: flex;
    font-size: 1rem;
    /* margin: 1.2rem; */
    flex-direction: column;
    width: 100%;
} 

.secciones1
{
    flex-wrap: wrap;
    display: flex;
    margin: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.secciones2 h5
{
    display: flex;
    font-size: 1rem;
    margin: 1.2rem;
    margin-left: 2rem;
} 


.secciones
{
    flex-wrap: wrap;
    display: flex;
    margin: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.secciones p
{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100vw;
    font-size: 1.1rem;
}

.secciones a
{
    display: flex;
    /* flex-direction: column; */
    padding: 5px;
    font-size: 1.1rem;
    width: 100vw;
}

.ubicacion__texto
{
    flex-direction: column;
}

 .secciones1 p
{
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 1px;
    font-size: 1.1rem;
    width: 100vw;
} 

.redes__sociales
{
    margin-left: 5rem;
    width: 2rem;
    height: 2rem;
}

footer
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

} 

.menu__header
{
    width: 100%;
    height: 100%;
    background-color:azure;
    font-size: 25px;

}

.menu__menu2
{
    display: flex;
    justify-content: flex-end; /* por default  */
    font-family: 'Barlow Condensed', sans-serif;
    /* align-items: center; */
    /* margin-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px; */
}

li
{
    margin-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;    
    margin-right: 10px;
}

.menu1 .menu2 .menu3 .menu4 .menu5
{
    transition:all 1s;
}

.menu1:hover
{  
    transform: scale(1.5);
    transition: all 0.2s;
}
.menu2:hover
{  
    transform: scale(1.5);
    transition: all 0.2s;
}
.menu3:hover
{  
    transform: scale(1.5);
    transition: all 0.2s;
}
.menu4:hover
{  
    transform: scale(1.5);
    transition: all 0.2s;
}
.menu5:hover
{  
    transform: scale(1.5);
    transition: all 0.2s;
}

a
{
    text-decoration: none;

}

.titulo__tienda
{
    font-style:oblique;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 1rem;
    font-size: 2rem;
}

.imagen__catalogo
{
    border: 2px solid black;
    width: 40rem;
}

ul
{
    list-style-type: none;
}

.ubicacion
{
    padding: 10px;
    width: 40px;
    height: 40px;
}

/* .ubicacion__texto
{

} */

.redes__texto
{
    margin-bottom: 10px;
    margin-left: 15px;
}

.redes__sociales
{
    margin-left: 15px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

.derechos__img
{
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

.derechos__texto
{
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.menu__header__index
{
    background-color: azure;
    padding: 10px;
    font-size: 25px;
}

/* TIENDA */

.grid__tienda
{
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: 380px 380px 380px 380px 380px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    align-self: center;
    justify-content: center;
}

.tienda__grid
{
    align-items: center;
    justify-content: center;
    align-self: center;
    object-fit:cover;
    transition:0.5s ease-in;
    position: relative;
}

.menu__header__tienda
{
    background-color: #FFBAB2;
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.tienda
{
    display: flex;
    margin-left: 10px;
}

.tienda__imagenes
{
    margin-right: 10px;
    margin-bottom: 15px;
    width: 280px;
    height: 280px;
    padding: 5px;
    border: 3px solid red;
    border-radius: 30px;
    transition: width 0.5s, height 0.5s;
}

.tienda__imagenes:hover
 {
  width: 300px;
  height: 300px;
}

.tienda__textos
{
    font-style: italic;
    margin: 9px;
    padding-right: 15px;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center;
}

.menu__header__tienda3
{
    background-color: #FFBAB2;
    padding: 10px;
    font-size: 25px;
    padding-top: 10px;

}

/*PERROS*/

.grid__perros
{
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: 380px 380px 380px 380px 380px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    align-self: center;
    justify-content: center;
    
}

.perros__grid
{
    align-items: center;
    justify-content: center;
    align-self: center;
    object-fit:cover;
    transition:0.5s ease-in;
    position: relative;
}

.menu__header__perros
{
    background-color:#95C8FF;
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.menu__header__perros2
{
    background-color:#95C8FF;
    padding: 10px;
    font-size: 25px;

}

.perros
{
    display: flex;
    margin-left: 10px;
    flex-direction: row;
}

.perros__imagenes
{
    margin-right: 10px;
    margin-bottom: 13px;
    width: 230px;
    height: 230px;
    padding: 5px;
    border: 3px solid blue;
    border-radius: 30px;
    transition: width 0.4s, height 0.4s;
}

.perros__imagenes:hover
{
  width: 260px;
  height: 260px;
  
}
    

.perros__textos
{
    font-style: italic;
    margin:4px;
    padding-right: 15px;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center
}

/* GATOS */

/* grid */

.grid__gatos
{
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: 380px 380px 380px 380px 380px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    align-self: center;
    justify-content: center;
    
}

.gatos__grid
{
    align-items: center;
    justify-content: center;
    align-self: center;
    object-fit:cover;
    transition:0.5s ease-in;
    position: relative;
}

.menu__header__gatos
{
    background-color:#ffd697;   
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.menu__header__gatos2
{
    background-color:#ffd697;
    padding: 10px;
    font-size: 25px;

}

.gatos
{
    display: flex;
    margin-left: 10px;
    flex-direction: row;
}

.gatos__imagenes
{
    margin-right: 10px;
    margin-bottom: 13px;
    width: 230px;
    height: 230px;
    padding: 5px;
    border: 3px solid orange;
    border-radius: 30px;
    transition: width 0.4s, height 0.4s;
}

.gatos__imagenes:hover
{
  width: 260px;
  height: 260px;
  
}
    

.gatos__textos
{
    font-style: italic;
    margin:4px;
    padding-right: 15px;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center
} 


/* TRABAJA CON NOSOTROS */


form
{
    display: flex;
    align-items: center;
    text-align: center;
}

.menu__header__trabaja4     
{

    background-color: #BAF0C4;
    padding: 10px;
    font-size: 25px;
    padding-top: 10px;

}

.menu__header__trabaja  
{
    width: 100%;
    height: 100%;
    background-color:#BAF0C4;
    font-size: 25px;
}

.trabaja__nosotros
{
    border: 5px solid green;
    font-style: italic;
    width: 825px;
    border-radius: 30px; 
    margin-left: calc(25% - 35px - 8px);
}

.label__trabaja
{
    margin: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.input__trabaja
{
    margin: 10px;
    width: 150px;
    margin-top: 10px;
    border-radius: 30px; 
    padding-left: 7px;    
}
.label__trabaja1
{
    margin: 5px;
    font-size: 20px;
    margin-top: 20px;
}

.input__trabaja1
{
    margin: 2px;
}

.input__trabaja2
{
    margin-left: 350px;
}

.label__trabaja2
{
    margin: 5px;
    font-size: 20px;
    margin-top: 20px;
}   

.titulo__trabaja
{
    margin: 10px;
    margin-left: 17%;
    font-size:50px;
    font-style:oblique;
}

.titulo__trabaja2
{
    margin: 10px;
    margin-left: 17%;
    font-size:25px;
    font-style:oblique;

}

.btn__1
{
    margin: 10px;
    font-size:25px;
    background-color: #4CAF50; /* Green */
    border:#4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px; 
    margin-left: calc(27% - 35px - 5px);
}

/* Media querie
    min-with > ancho minimo de la pantalla/dispositivo
    max-with > ancho maximo de la pantalla/dispositivo 
    MEDIDAS RELATIMAS
    REM -- es una medida estandar y toma de base
    el tamaño minimo de la letra del dispositivo
    
    EM -- toma de base el tamaño de la M  del dispositivo
    
    PORCENTAJE -- son las mas faciles, las menos recomendadas*/
/*Tablet*/


/* Celular */
@media (min-width: 320px) and (max-width: 540px) 
{
    /* INDEX PROBO FORMULARIO CON IPHONE 12 PRO / 390 X 844 */

    header
    {
        display: flex;        
    }

    .menu__header
    {   
        background-color:azure;
        justify-content: center;        
    }
    
    .menu__menu2
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.5rem;
        margin: 0.1rem;
    
    }
    .imagen__catalogo
    {
        width: 21rem;
        height: 10rem;
    
    } 

    .titulo__tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }

    .logo__bastet
    {
       display: none;
    }

    .resena__contenido
    {
        margin: 20px;
        font-style: italic;
        font-size: 1.2rem;
        text-align: justify;
    }
    
    .resena__titulo
    {
        margin: 0.2rem;
        font-size: 1.8rem;
    }  

    .secciones1 h5
    {
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        width: 100%;
        
    }
         
    .secciones h5
    {
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        width: 100%;
    }

    .secciones2 h5.redes__texto
    {
        display: flex;
        font-size: 1rem;
    }

    .ubicacion__texto
    {
        flex-direction: column;
    }

    .secciones1 p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
        font-size: 1.1rem;
    }

    .secciones p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
        font-size: 1.1rem;
    }
    
    .secciones a
    {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.1rem;
    }

    .secciones2 a
    {
        display: flex;
        font-size: 1.1rem;
    }

    li
    {
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 8px;    
        margin-right: 0px;
    }

    .menu1 .menu2 .menu3 .menu4 .menu5
    {
        transition:none;
    }

    .menu1:hover
    {  
        transform: none;
        transition: none;
    }
    .menu2:hover
    {  
        transform: none;
        transition: none;
    }
    .menu3:hover
    {  
        transform: none;
        transition: none;
    }
    .menu4:hover
    {  
        transform: none;
        transition: none;
    }
    .menu5:hover
    {  
        transform: none;
        transition: none;
    }
    
    img .ubicacion
    {
        width: 100%;
        flex-direction: column;
    }

    /* .redes__sociales
    {
        width: 2rem;
        height: 2rem;
    } */

    footer
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

    }

    /* TIENDA */

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }

    .grid__tienda

    {
        display: flex;
        align-items: center;
        /* font-size: 2    rem; */
        width: 100vw;
    }

    .tienda__textos
    {
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    .tienda__imagenes
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        height: 18rem;
        text-align: center;
        width: 240px;
        height: 240px;
        text-align: center;
        transition: width 0.4s, height 0.4s;
    }

    .perros__imagenes:hover
    {
    width: 260px;
    height: 260px;
    }

    /*PERROS*/

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }

    .grid__perros

    {
        display: flex;
        align-items: center;
        /* font-size: 2    rem; */
        width: 100vw;
    }

    .perros__textos
    {
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    .perros__imagenes
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        height: 18rem;
        width: 240px;
        height: 240px;
        text-align: center;
        transition: width 0.4s, height 0.4s;
    }

    .perros__imagenes:hover
    {
    width: 270px;
    height: 270px;
    }
    
 
    /* GATOS*/
    
    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }

    .grid__gatos

    {
        display: flex;
        align-items: center;
        /* font-size: 2    rem; */
        width: 100vw;
    }

    .gatos__textos
    {
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    .gatos__imagenes
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        height: 18rem;
        text-align: center;
        width: 240px;
        height: 240px;
        text-align: center;
        transition: width 0.4s, height 0.4s;
    }

    .gatos__imagenes:hover
    {
    width: 270px;
    height: 270px;
    }


    /*TRABAJA CON NOSOTROS*/
    form
    {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        
    }
    .menu__header__trabaja4     
    {

        background-color: #BAF0C4;
        padding: 10px;
        font-size: 25px;

    }

    .menu__header__trabaja  
    {
        background-color: #BAF0C4;
        width: 100%;
        height: 100%;
        font-size: 25px;
    }

    .titulo2 
    {
        display: flex;
    }


    .trabaja__nosotros
    {
        border: 5px solid green;
        font-style: italic;
        width: 825px;
        border-radius: 30px; 
        margin-left: 0%;
    }

    .label__trabaja
    {
        margin: 10px;
        width: 80%;
    }

    .input__trabaja
    {
        width: 60%;
        margin-top: 10px;
        border-radius: 30px; 
        padding-left: 7px;    
    }
    .label__trabaja1
    {
        width: 90%;
        height: 50%;
        
    }

    .input__trabaja2
    {
        margin-left: 2.5rem;
        text-align: center;
        align-items: center;
        align-self: center;
    }
    .label__trabaja2
    {
        margin-left: 1rem;
        text-align: center;
        align-items: center;
        align-self: center;
    }

    .input__trabaja1
    {
        margin: 2px;
    }

    .input__trabaja2
    {
        width: 15px;
        /* margin-top: 10px;
        flex-direction: column;
        border-radius: 30px; 
        align-items: center;
        align-self: start;
     */
    }

    .titulo__trabaja
    {
        margin: 5px;
        margin-left: 10%;
        font-size:50px;
        font-style:oblique;

    }

    .titulo__trabaja2
    {
        text-align: start;
        font-style:oblique;

    }

    .btn
    {
        display: flex;
        
    }

    .btn__1
    {
        background-color: #4CAF50; 
        border:#4CAF50;
        color: white;
        padding: 12px 22px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 30px; 
        margin-left: calc(12% - 35px - 5px);

    }

    .formulario
    {
        justify-content: center;
        margin: 0px;
        
    }   
}


@media (min-width: 541px) and (max-width: 720px) 
/*los cambios estructurales SE PROBO EL FORMULARIO EN 541 X 844 */
{

    header
    {
        display: flex;        
    }

    .menu__header
    {   
        background-color:azure;
        justify-content: center;        
    }

    
    .menu__menu2
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2.5rem;
        margin: 0.1rem;
    }

    .imagen__catalogo
    {
        width: 25rem;
        height: 13rem;
    
    } 

    .titulo__tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
    }

    .logo__bastet
    {
       display: none;
    }

    .resena__contenido
    {
        margin: 20px;
        font-style: italic;
        font-size: 1.5rem;
        text-align: justify;
    }
    
    .resena__titulo
    {
        margin: 0.2rem;
        font-size: 2rem;
    }  

    .secciones1 h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
        
    }
         
    .secciones h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
    }

    .secciones2 h5.redes__texto
    {
        display: flex;
        font-size: 1.5rem;
    }

    .ubicacion__texto
    {
        flex-direction: column;
    }

    .secciones1 p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
        font-size: 1.5rem;
    }

    .secciones p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
        font-size: 1.5rem;
    }
    
    .secciones a
    {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.5rem;
    }

    .secciones2 a
    {
        display: flex;
        font-size: 1.1rem;
    }

    li
    {
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 20px;    
        margin-right: 0px;
    }

    .menu1 .menu2 .menu3 .menu4 .menu5
    {
        transition:none;
    }

    .menu1:hover
    {  
        transform: none;
        transition: none;
    }
    .menu2:hover
    {  
        transform: none;
        transition: none;
    }
    .menu3:hover
    {  
        transform: none;
        transition: none;
    }
    .menu4:hover
    {  
        transform: none;
        transition: none;
    }
    .menu5:hover
    {  
        transform: none;
        transition: none;
    }
    
    img .ubicacion
    {
        width: 100%;
        flex-direction: column;
    }

    /* .redes__sociales
    {
        width: 2rem;
        height: 2rem;
    } */

    footer
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

    }

    /* TIENDA */

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }

    .grid__tienda

    {
        display: flex;
        align-items: center;
        /* font-size: 2    rem; */
        width: 100vw;
    }

    .tienda__textos
    {
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    .tienda__imagenes
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        height: 18rem;
        text-align: center;
        width: 250px;
        height: 250px;
        text-align: center;
        transition: width 0.4s, height 0.4s;
    }

    .tienda__imagenes:hover
    {
    width: 300px;
    height: 300px;
    }


    /*PERROS*/

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }

    .grid__perros

    {
        display: flex;
        align-items: center;
        /* font-size: 2    rem; */
        width: 100vw;
    }

    .perros__textos
    {
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    .perros__imagenes
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        height: 18rem;
        text-align: center;
        width: 250px;
        height: 250px;
        text-align: center;
        transition: width 0.4s, height 0.4s;
    }

    .perros__imagenes:hover
    {
    width: 300px;
    height: 300px;
    }
    
 
    /* GATOS*/
    
    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }

    .grid__gatos

    {
        display: flex;
        align-items: center;
        /* font-size: 2    rem; */
        width: 100vw;
    }

    .gatos__textos
    {
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    .gatos__imagenes
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        height: 18rem;
        text-align: center;
        width: 250px;
        height: 250px;
        text-align: center;
        transition: width 0.4s, height 0.4s;
    }

    .gatos__imagenes:hover
    {
    width: 300px;
    height: 300px;
    }

    /*TRABAJA CON NOSOTROS*/
    form
    {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        
    }
    .menu__header__trabaja4     
    {

        background-color: #BAF0C4;
        padding: 10px;
        font-size: 25px;

    }

    .menu__header__trabaja  
    {
        background-color: #BAF0C4;
        width: 100%;
        height: 100%;
        font-size: 2.5rem;
    }

    .titulo2 
    {
        display: flex;
    }


    .trabaja__nosotros
    {
        border: 5px solid green;
        font-style: italic;
        width: 825px;
        border-radius: 30px; 
        margin-left: 0%;
    }

    .label__trabaja
    {
        margin: 10px;
        width: 80%;
    }

    .input__trabaja2
    {
        margin: 2rem;
        margin-left: 2.5rem;
        text-align: center;
        align-items: center;
        align-self: center;
    }
    .label__trabaja2
    {
        margin: 5px;
        margin-top: 20px;
        font-size: 1.5rem;
       
    }

    .input__trabaja
    {
        width: 60%;
        margin-top: 10px;
        border-radius: 30px; 
        padding-left: 7px;    
    }
    .label__trabaja1
    {
        width: 80%;
        height: 50%;
    }

    .input__trabaja1
    {
        margin: 3px;
    }

    .titulo__trabaja
    {
        margin: 5px;
        margin-left: 10%;
        font-size:55px;
        font-style:oblique;

    }

    .titulo__trabaja2
    {
        text-align: start;
        font-style:oblique;

    }

    .btn
    {
        display: flex;
        
    }

    .btn__1
    {
        background-color: #4CAF50; 
        border:#4CAF50;
        color: white;
        padding: 20px 35px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 30px; 
        margin-left: calc(16% - 35px - 5px);

    }

   
}