/* Celular */
@media (min-width: 320px) and (max-width: 575px)
{
    /* INDEX PROBO FORMULARIO CON IPHONE 12 PRO / 390 X 844 */
   
    .navbar-nav  
    {
        padding-right: 1px;
        padding-left: 8px;
    }

    nav
    {
        .navbar-toggler 
        {
            padding-top: 5%;
            padding-bottom: 1.5%; 
        }
    }

    header
    {
        display: flex;
        .menu__menu2
        {
            display: flex;
            font-size: 0.9rem;
            margin: 0.1rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }

    .imagen__catalogo
    {
        width: 21rem;
        height: 10rem;
    }

    .titulo__tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.5rem;
    }

    .logo__bastet
    {
       display: none;
    }

    .resena__contenido
    {
        margin: 20px;
        font-style: italic;
        font-size: 1.2rem;
        text-align: justify;
        &resena__titulo
        {
            margin: 0.2rem;
            font-size: 1.8rem;
        }
    }


    .secciones1 .secciones h5
    {
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        width: 100%;

    }

    .secciones2 h5.redes__texto
    {
        display: flex;
        font-size: 1rem;
    }

    .ubicacion__texto
    {
        flex-direction: column;
    }

    .secciones1 p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        font-size: 1.1rem;
    }

    .secciones p
    {
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 100%;
        padding-left: 20px;
        font-size: 1rem;
    }

    .secciones a
    {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.1rem;
    }

    .secciones2 a
    {
        display: flex;
        font-size: 1.1rem;
    }

    li
    {
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 8px;
        margin-right: 0px;
    }

    .menu1 .menu2 .menu3 .menu4 .menu5
    {
        transition:none;
        :hover .menu1 .menu2 .menu3 .menu4 .menu5
        {
            transform: none;
            transition: none;
        }
    }

    img .ubicacion
    {
        width: 100%;
        flex-direction: column;
    }

    footer
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

    }

    /* TIENDA */

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
    }

    .menu__header
    {
        background-color:$color-azure;
        justify-content: center;
        &__index
        {
            background-color:$color-azure;
            width: 100%;
            height: 100%;
            padding-block: 5px;
            font-size: 25px;
            justify-content: center;
            border: 1px solid $border-index;
        }
        &__tienda
        {
            background-color:$color-tienda;
            width: 100%;
            height: 100%;
            padding-block: 5px;
            font-size: 25px;
            justify-content: center;
            border: 1px solid $border-tienda;
        }
        &__perros
        {
            background-color:$color-perro;
            width: 100%;
            height: 100%;
            padding-block: 5px;
            font-size: 25px;
            justify-content: center;
            border: 1px solid $border-perro;
        }
        &__trabaja4
        {
    
            background-color: $color-trabajo;
            padding: 10px;
            font-size: 25px;
            justify-content: center;
        }
        &__gatos
        {
            background-color:$color-gatos2;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding-block: 5px;
            font-size: 25px;
            justify-content: center;
            border: 1px solid $border-gatos;
        }
        &__trabaja
        {
            background-color: $color-trabajo;
            width: 100%;
            height: 100%;
            padding-block: 5px;
            font-size: 25px;
            justify-content: center;
            border: 2px solid $border-trabaja;
        }
        &__trabaja
        {
            background-color:$color-trabajo;
            justify-content: center;
        }
    }

    .tienda__textos
    {
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 190px;
            height: 190px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }
    }

    .perros
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.7rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 190px;
            height: 190px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }
    }

    .grid
    {
        &__gatos
        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__perros

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__tienda

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
    }    

    .gatos
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.7rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 190px;
            height: 190px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }
    }

    form
    {
        display: flex;
        align-items: center;

    }

    .titulo2
    {
        display: flex;
    }

    .trabaja__nosotros
    {
        border: 5px solid $color-trabajo2;
        font-style: italic;
        width: 825px;
        border-radius: 30px;
        margin-left: 0%;
    }

    .btn-primary {
        color: $color-blanco1;
        background-color: $color-verde2;
        border-color: $color-trabajo2;
        text-align: center;
    }

    .btn
    {
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .label
    {
        &__trabaja
        {
            margin: 10px;
            width: 80%;
        }
        &__trabaja1
        {
            width: 90%;
            height: 50%;
       }   
       &__trabaja2
       {
           margin-left: 1rem;
           text-align: center;
           align-items: center;
           align-self: center;
       } 
    }

    .input
    {
        &__trabaja
        {
            width: 60%;
            margin-top: 10px;
            border-radius: 30px;
            padding-left: 7px;
        }
        &__trabaja2
        {
            margin-left: 2.5rem;
            text-align: center;
            align-items: center;
            align-self: center;
        }
        &__trabaja1
        {
            margin: 2px;
        }
        &__trabaja2
        {
            width: 15px;
        }
    }

    .titulo
    {
        &__trabaja
        {
            margin: 5px;
            margin-left: 10%;
            font-size:50px;
            font-style:$font-principal;
        }
        &__trabaja2
        {
            text-align: start;
            font-style:$font-principal;
        }
    }

    .btn
    {
        display: flex;
        &__1
        {
            background-color: $color-verde2;
            border:$color-verde2;
            color: white;
            padding: 12px 22px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 30px;
            margin-left: calc(12% - 35px - 5px);
        }
    }

    .formulario
    {
        justify-content: center;
        margin: 0px;

    }
}


/*TABLET*/
@media (min-width: 576px) and (max-width: 768px)
/*los cambios estructurales SE PROBO EL FORMULARIO EN 541 X 844 */
{

    header
    {
        display: flex;
    }

    .menu__header
    {
        background-color:$color-azure;
        justify-content: center;
    }

    .menu__menu2
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: rem;
        margin: 0.1rem;
    }

    .imagen__catalogo
    {
        width: 25rem;
        height: 13rem;

    }

    .titulo__tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
    }

    .logo__bastet
    {
       display: none;
    }

    .resena__contenido
    {
        margin: 20px;
        font-style: italic;
        font-size: 1.5rem;
        text-align: justify;
    }

    .resena__titulo
    {
        margin: 0.2rem;
        font-size: 2rem;
    }

    .secciones1 h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;

    }

    .secciones h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
    }

    .secciones2 h5.redes__texto
    {
        display: flex;
        font-size: 1.5rem;
    }

    .ubicacion__texto
    {
        flex-direction: column;
    }

    .secciones1 .secciones p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
        font-size: 1.5rem;
    }

    .secciones a
    {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.5rem;
    }

    .secciones2 a
    {
        display: flex;
        font-size: 1.1rem;
    }

    li
    {
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 20px;
        margin-right: 0px;
    }

    .menu1 .menu2 .menu3 .menu4 .menu5
    {
        transition:none;
        :hover .menu1 .menu2 .menu3 .menu4 .menu5
        {
            transform: none;
            transition: none;
        }
    }

    img .ubicacion
    {
        width: 100%;
        flex-direction: column;
    }

    footer
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

    }

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 170px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 190px;
        height: 190px;
        }
    }

    .grid
    {
        &_tienda
        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__perros

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__gatos

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
    }

    .perros
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 180px;
            height: 180px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 190px;
        height: 190px;
        }
    }

    .gatos
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 180px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 190px;
        height: 190px;
        }
    }

    .menu__header
    {
        &__gatos
        {
            background-color:$color-gatos;
            justify-content: center;
        }
        &__trabaja4
        {
    
            background-color: $color-trabajo;
            padding: 10px;
            font-size: 25px;
    
        }
        &__trabaja
        {
            background-color: $color-trabajo;
            width: 100%;
            height: 100%;
            font-size: 2.5rem;
        }
    }

    
    // .gatos__imagenes {
    //     width: 180px;
    //     height: 180px;
    //     border-radius: 30px;
    //     margin-right: 10px;
    //     margin-bottom: 13px;
    //     border: 3px solid orange; }

    /*TRABAJA CON NOSOTROS*/
    form
    {
        justify-content: center;
        align-items: center;

    }

    .titulo2
    {
        display: flex;
    }


    .trabaja__nosotros
    {
        border: 5px solid $color-trabajo2;
        font-style: italic;
        width: 825px;
        border-radius: 30px;
        margin-left: calc(0%);
    }

    .label
    {
        &__trabaja
        {
            margin: 10px;
            width: 80%;
        }
        &__trabaja2
        {
            margin: 5px;
            margin-top: 20px;
            font-size: 1.5rem;
        }
        &__trabaja1
        {
            width: 80%;
            height: 50%;
        }
    }

    

    .input
    {
        &__trabaja2
        {
            margin: 2rem;
            margin-left: 2.5rem;
            text-align: center;
            align-items: center;
            align-self: center;
        }
        &__trabaja
        {
            width: 60%;
            margin-top: 10px;
            border-radius: 30px;
            padding-left: 7px;
        }
        &input__trabaja1
        {
            margin: 3px;
        }
    }
    

    .titulo
    {
        &__trabaja
        {
            margin: 5px;
            margin-left: 10%;
            font-size:55px;
            font-style:$font-principal;

        }
        &__trabaja2
        {
            text-align: start;
            font-style:$font-principal;
        }
    }    

    .btn
    {
        &__1
        {
            background-color: $color-verde2;
            border:$color-verde2;
            color: white;
            padding: 20px 35px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 30px;
            margin-left: calc(16% - 35px - 5px);

        }
    }
}

@media (min-width: 767px) and (max-width: 991px)
/*los cambios estructurales SE PROBO EL FORMULARIO EN 541 X 844 */
{

    header
    {
        display: flex;
    }

    .menu__header
    {
        background-color:$color-azure;
        justify-content: center;
    }

    .menu__menu2
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2rem;
        margin: 0.1rem;
    }

    .imagen__catalogo
    {
        width: 25rem;
        height: 13rem;

    }

    .titulo__tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
    }

    .logo__bastet
    {
       display: none;
    }

    .resena__contenido
    {
        margin: 20px;
        font-style: italic;
        font-size: 1.5rem;
        text-align: justify;
    }

    .resena__titulo
    {
        margin: 0.2rem;
        font-size: 2rem;
    }

    .secciones1 h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;

    }

    .secciones h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
    }

    .secciones2 h5.redes__texto
    {
        display: flex;
        font-size: 1.5rem;
    }

    .ubicacion__texto
    {
        flex-direction: column;
    }

    .secciones1 .secciones p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
        font-size: 1.5rem;
    }

    .secciones a
    {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.5rem;
    }

    .secciones2 a
    {
        display: flex;
        font-size: 1.1rem;
    }

    li
    {
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 20px;
        margin-right: 0px;
    }

    .menu1 .menu2 .menu3 .menu4 .menu5
    {
        transition:none;
        :hover .menu1 .menu2 .menu3 .menu4 .menu5
        {
            transform: none;
            transition: none;
        }
    }

    img .ubicacion
    {
        width: 100%;
        flex-direction: column;
    }

    footer
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

    }

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.7rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 185px;
            height: 185px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }
    
    }

    .grid
    {
        &_tienda
        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__perros

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__gatos

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
    }

    .perros
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            font-style: italic;
            margin: 0px;
            padding-right: 10px;
            padding-bottom: 13px;
            text-align: center;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 180px;
            height: 180px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }

    }

    /* GATOS*/

    .menu__header
    {
        &__gatos
        {
            background-color:$color-gatos;
            justify-content: center;
        }
        &__trabaja4
        {
    
            background-color: $color-trabajo;
            padding: 10px;
            font-size: 25px;
    
        }
        &__trabaja
        {
            background-color: $color-trabajo;
            width: 100%;
            height: 100%;
            font-size: 2.5rem;
        }
    }

    .gatos
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 180px;
            height: 180px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }
    }
   
    /*TRABAJA CON NOSOTROS*/
    form
    {
        justify-content: center;
        align-items: center;

    }

    .titulo2
    {
        display: flex;
    }


    .trabaja__nosotros
    {
        border: 5px solid $color-trabajo2;
        font-style: italic;
        width: 825px;
        border-radius: 30px;
        margin-left: calc(0%);
    }

    .label
    {
        &__trabaja
        {
            margin: 10px;
            width: 80%;
        }
        &__trabaja2
        {
            margin: 5px;
            margin-top: 20px;
            font-size: 1.5rem;
        }
        &__trabaja1
        {
            width: 80%;
            height: 50%;
        }
    }

    

    .input
    {
        &__trabaja2
        {
            margin: 2rem;
            margin-left: 2.5rem;
            text-align: center;
            align-items: center;
            align-self: center;
        }
        &__trabaja
        {
            width: 60%;
            margin-top: 10px;
            border-radius: 30px;
            padding-left: 7px;
        }
        &input__trabaja1
        {
            margin: 3px;
        }
    }
    

    .titulo
    {
        &__trabaja
        {
            margin: 5px;
            margin-left: 10%;
            font-size:55px;
            font-style:$font-principal;

        }
        &__trabaja2
        {
            text-align: start;
            font-style:$font-principal;
        }
    }    

    .btn
    {
        &__1
        {
            background-color: $color-verde2;
            border:$color-verde2;
            color: white;
            padding: 20px 35px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 30px;
            margin-left: calc(16% - 35px - 5px);

        }
    }
}


@media (min-width: 991px) and (max-width: 1199px)
/*los cambios estructurales SE PROBO EL FORMULARIO EN 541 X 844 */
{

    header
    {
        display: flex;
    }

    .menu__header
    {
        background-color:$color-azure;
        justify-content: center;
    }

    .menu__menu2
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2rem;
        margin: 0.1rem;
    }

    .imagen__catalogo
    {
        width: 25rem;
        height: 13rem;

    }

    .titulo__tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
    }

    .logo__bastet
    {
       display: none;
    }

    .resena__contenido
    {
        margin: 20px;
        font-style: italic;
        font-size: 1.5rem;
        text-align: justify;
    }

    .resena__titulo
    {
        margin: 0.2rem;
        font-size: 2rem;
    }

    .secciones1 h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;

    }

    .secciones h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
    }

    .secciones2 h5.redes__texto
    {
        display: flex;
        font-size: 1.5rem;
    }

    .ubicacion__texto
    {
        flex-direction: column;
    }

    .secciones1 .secciones p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
        font-size: 1.5rem;
    }

    .secciones a
    {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.5rem;
    }

    .secciones2 a
    {
        display: flex;
        font-size: 1.1rem;
    }

    li
    {
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 20px;
        margin-right: 0px;
    }

    .menu1 .menu2 .menu3 .menu4 .menu5
    {
        transition:none;
        :hover .menu1 .menu2 .menu3 .menu4 .menu5
        {
            transform: none;
            transition: none;
        }
    }

    img .ubicacion
    {
        width: 100%;
        flex-direction: column;
    }

    footer
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

    }

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.7rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18rem;
            height: 18rem;
            text-align: center;
            width: 190px;
            height: 190px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }
    
    }

    .grid
    {
        &_tienda
        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__perros

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__gatos

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
    }

    .perros
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            font-style: italic;
            margin: 0px;
            padding-right: 10px;
            padding-bottom: 13px;
            text-align: center;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 180px;
            height: 180px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }

    }

    /* GATOS*/

    .menu__header
    {
        &__gatos
        {
            background-color:$color-gatos;
            justify-content: center;
        }
        &__trabaja4
        {
    
            background-color: $color-trabajo;
            padding: 10px;
            font-size: 25px;
    
        }
        &__trabaja
        {
            background-color: $color-trabajo;
            width: 100%;
            height: 100%;
            font-size: 2.5rem;
        }
    }

    .gatos
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            font-style: italic;
            margin: 0px;
            padding-right: 10px;
            padding-bottom: 13px;
            text-align: center;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 180px;
            height: 180px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }
    }

    /*TRABAJA CON NOSOTROS*/
    form
    {
        justify-content: center;
        align-items: center;

    }

    .titulo2
    {
        display: flex;
    }


    .trabaja__nosotros
    {
        border: 5px solid $color-trabajo2;
        font-style: italic;
        width: 825px;
        border-radius: 30px;
        margin-left: calc(0%);
    }

    .label
    {
        &__trabaja
        {
            margin: 10px;
            width: 80%;
        }
        &__trabaja2
        {
            margin: 5px;
            margin-top: 20px;
            font-size: 1.5rem;
        }
        &__trabaja1
        {
            width: 80%;
            height: 50%;
        }
    }

    

    .input
    {
        &__trabaja2
        {
            margin: 2rem;
            margin-left: 2.5rem;
            text-align: center;
            align-items: center;
            align-self: center;
        }
        &__trabaja
        {
            width: 60%;
            margin-top: 10px;
            border-radius: 30px;
            padding-left: 7px;
        }
        &input__trabaja1
        {
            margin: 3px;
        }
    }
    

    .titulo
    {
        &__trabaja
        {
            margin: 5px;
            margin-left: 10%;
            font-size:55px;
            font-style:$font-principal;

        }
        &__trabaja2
        {
            text-align: start;
            font-style:$font-principal;
        }
    }    

    .btn
    {
        &__1
        {
            background-color: $color-verde2;
            border:$color-verde2;
            color: white;
            padding: 20px 35px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 30px;
            margin-left: calc(16% - 35px - 5px);

        }
    }
}

@media (min-width: 1199px) and (max-width: 1496px)
{
    header
    {
        display: flex;
    }

    .menu__header
    {
        background-color:$color-azure;
        justify-content: center;
    }

    .menu__menu2
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 3rem;
        margin: 0.1rem;
    }

    .logo__bastet
    {
       display: none;
    }

    .nav-item
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2rem;
        margin: 0.1rem;
    }
    .imagen__catalogo
    {
        width: 25rem;
        height: 13rem;

    }

    .titulo__tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
    }

    .resena__contenido
    {
        margin: 20px;
        font-style: italic;
        font-size: 1.5rem;
        text-align: justify;
    }

    .resena__titulo
    {
        margin: 0.2rem;
        font-size: 2rem;
    }

    .secciones1 h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
    }

    .secciones h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
    }

    .secciones2 h5.redes__texto
    {
        display: flex;
        font-size: 1.5rem;
    }

    .ubicacion__texto
    {
        flex-direction: column;
    }

    .secciones1 .secciones p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
        font-size: 1.5rem;
    }

    .secciones a
    {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.5rem;
    }

    .secciones2 a
    {
        display: flex;
        font-size: 1.1rem;
    }

    li
    {
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 20px;
        margin-right: 0px;
    }

    img .ubicacion
    {
        width: 100%;
        flex-direction: column;
    }

    footer
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

    }

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.7rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 190px;
            height: 190px;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 210px;
        height: 210px;
        }
    }


    .grid
    {
        &__tienda
        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__perros

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__gatos

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
    }

    .perros
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.7rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 190px;
            height: 190px;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 210px;
        height: 210px;
        }
    }



    /* GATOS*/

    .menu__header
    {
        &__gatos
        {
            background-color:$color-gatos;
            justify-content: center;
        }
        &__trabaja4
        {
    
            background-color: $color-trabajo;
            padding: 10px;
            font-size: 25px;
    
        }
        &__trabaja
        {
            background-color: $color-trabajo;
            width: 100%;
            height: 100%;
            font-size: 2.5rem;
        }
    }

    .gatos
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            font-style: italic;
            margin: 0px;
            padding-right: 10px;
            padding-bottom: 13px;
            text-align: center;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 190px;
            height: 190px;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 210px;
        height: 210px;
        }
    }

    /*TRABAJA CON NOSOTROS*/
    form
    {
        justify-content: center;
        align-items: center;

    }

    .titulo2
    {
        display: flex;
    }

    .trabaja__nosotros
    {
        border: 5px solid $color-trabajo2;
        font-style: italic;
        width: 825px;
        border-radius: 30px;
        margin-left: calc(0%);
    }

    .label
    {
        &__trabaja
        {
            margin: 10px;
            width: 80%;
        }
        &__trabaja2
        {
            margin: 5px;
            margin-top: 20px;
            font-size: 1.5rem;
        }
        &__trabaja1
        {
            width: 80%;
            height: 50%;
        }
    }

    .input
    {
        &__trabaja2
        {
            margin: 2rem;
            margin-left: 2.5rem;
            text-align: center;
            align-items: center;
            align-self: center;
        }
        &__trabaja
        {
            width: 60%;
            margin-top: 10px;
            border-radius: 30px;
            padding-left: 7px;
        }
        &input__trabaja1
        {
            margin: 3px;
        }
    }
    

    .titulo
    {
        &__trabaja
        {
            margin: 5px;
            margin-left: 10%;
            font-size:55px;
            font-style:$font-principal;

        }
        &__trabaja2
        {
            text-align: start;
            font-style:$font-principal;
        }
    }    

    .btn
    {
        &__1
        {
            background-color: $color-verde2;
            border:$color-verde2;
            color: white;
            padding: 20px 35px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 30px;
            margin-left: calc(16% - 35px - 5px);

        }
    }

    .img-fluid {
        width: 500px;
        height: 300px;
        padding: 5px;
        border: 3px solid red;
        border-radius: 30px;
        transition: width 0.5s, height 0.5s;
    }
}

@media (min-width: 1496px) and (max-width: 1600px)
{
    header
    {
        display: flex;
    }

    .menu__header
    {
        background-color:$color-azure;
        justify-content: center;
    }

    .logo__bastet
    {
       display: inline ;
    }

    .menu__menu2
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 3rem;
        margin: 0.1rem;
    }

    .nav-item
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 2rem;
        margin: 0.1rem;
    }
    .imagen__catalogo
    {
        width: 25rem;
        height: 13rem;

    }

    .titulo__tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
    }

    .resena__contenido
    {
        margin: 20px;
        font-style: italic;
        font-size: 1.5rem;
        text-align: justify;
    }

    .resena__titulo
    {
        margin: 0.2rem;
        font-size: 2rem;
    }

    .secciones1 h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
    }

    .secciones h5
    {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        width: 100%;
    }

    .secciones2 h5.redes__texto
    {
        display: flex;
        font-size: 1.5rem;
    }

    .ubicacion__texto
    {
        flex-direction: column;
    }

    .secciones1 .secciones p
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100vw;
        font-size: 1.5rem;
    }

    .secciones a
    {
        display: flex;
        flex-direction: column;
        padding: 5px;
        font-size: 1.5rem;
    }

    .secciones2 a
    {
        display: flex;
        font-size: 1.1rem;
    }

    li
    {
        margin-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 20px;
        margin-right: 0px;
    }

    img .ubicacion
    {
        width: 100%;
        flex-direction: column;
    }

    footer
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

    }

    .tienda
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.7rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;;
            justify-content: center;
            width: 300px;
            height: 300px;
            text-align: center;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 350px;
        height: 350px;
        }
    }


    .grid
    {
        &__tienda
        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__perros

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
        &__gatos

        {
            display: flex;
            align-items: center;
            width: 100vw;
        }
    }

    .perros
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.7rem;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 190px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }
    }



    /* GATOS*/

    .menu__header
    {
        &__gatos
        {
            background-color:$color-gatos;
            justify-content: center;
        }
        &__trabaja4
        {
    
            background-color: $color-trabajo;
            padding: 10px;
            font-size: 25px;
    
        }
        &__trabaja
        {
            background-color: $color-trabajo;
            width: 100%;
            height: 100%;
            font-size: 2.5rem;
        }
    }

    .gatos
    {
        &__textos
        {
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            font-style: italic;
            margin: 0px;
            padding-right: 10px;
            padding-bottom: 13px;
            text-align: center;
        }
        &__imagenes
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 190px;
            text-align: center;
            transition: width 0.4s, height 0.4s;
        }
        &__imagenes:hover
        {
        width: 200px;
        height: 200px;
        }
    }

    /*TRABAJA CON NOSOTROS*/
    form
    {
        justify-content: center;
        align-items: center;

    }

    .titulo2
    {
        display: flex;
    }

    .trabaja__nosotros
    {
        border: 5px solid $color-trabajo2;
        font-style: italic;
        width: 825px;
        border-radius: 30px;
        margin-left: calc(0%);
    }

    .label
    {
        &__trabaja
        {
            margin: 10px;
            width: 80%;
        }
        &__trabaja2
        {
            margin: 5px;
            margin-top: 20px;
            font-size: 1.5rem;
        }
        &__trabaja1
        {
            width: 80%;
            height: 50%;
        }
    }

    .input
    {
        &__trabaja2
        {
            margin: 2rem;
            margin-left: 2.5rem;
            text-align: center;
            align-items: center;
            align-self: center;
        }
        &__trabaja
        {
            width: 60%;
            margin-top: 10px;
            border-radius: 30px;
            padding-left: 7px;
        }
        &input__trabaja1
        {
            margin: 3px;
        }
    }
    

    .titulo
    {
        &__trabaja
        {
            margin: 5px;
            margin-left: 10%;
            font-size:55px;
            font-style:$font-principal;

        }
        &__trabaja2
        {
            text-align: start;
            font-style:$font-principal;
        }
    }    

    .btn
    {
        &__1
        {
            background-color: $color-verde2;
            border:$color-verde2;
            color: white;
            padding: 20px 35px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 30px;
            margin-left: calc(16% - 35px - 5px);

        }
    }

    .img-fluid {
        width: 500px;
        height: 300px;
        padding: 5px;
        border: 3px solid red;
        border-radius: 30px;
        transition: width 0.5s, height 0.5s;
    }
}
