$color-resena-index: aliceblue;
$color-border-index: antiquewhite;
$color-azure: azure;
$color-tienda: #FFBAB2;
$color-perro: #95C8FF;
$color-trabajo: #BAF0C4;
$color-trabajo2: green;
$color-gatos: #ffd697;
$color-gatos2: #ffd697;
$color-verde2: #4CAF50;
$color-blanco1: #fff;
$color-negro: #212529;
$color-naranjo: orange;
$color-azul: blue;
$color-rojo: red;



$font-principal:oblique;
$font-principal2: italic;


$border-index: #B2FFF5; 
$border-tienda: #EE8C7A;
$border-perro: #4663EF;
$border-gatos: #E8A922;
$border-trabaja: #35E26C;
